
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.home_link{
  border: 2px solid blue;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  position: relative;
}
.home_link:hover::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.home_link p{
  margin: 0;
}
.home_link p:last-child{
  margin: 0;
  color: aliceblue;
}
.home_link.homa{
  color: rgb(76, 153, 51);
}
.nav ,.nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}


